/* Universal Selector to set box-sizing, margin, and padding for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root pseudo-class for CSS variables */
:root {
    --main-bg-color: #f4f4f4;
    --primary-color: #0cd15e;
    --secondary-color: white;
    --button-bg-color: #4CAF50;
    --button-hover-color: #45a049;
    --font-family: Arial, sans-serif;
    --border-radius: 8px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Body styles */
body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
}

/* Header styles */
header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 25px;
}

/* Main container styles */
main {
    width: 100%;
    max-width: 600px;
    margin: 50px;
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

/* Hidden class for elements */
.hidden {
    display: none;
}

/* Button styles */
button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: var(--button-bg-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: var(--button-hover-color);
}

/* Styles for choice buttons */
#choices button {
    display: block;
    width: 100%;
    margin: 5px 0;
}

/* Form styles */
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
